<div class="banner index" style="background-image: url('http://plushemisphere.com/wp-content/uploads/2014/09/elegant-cocktail-lounge-design.jpg');">
  <div class="banner-content">
    <h1>Choose your cocktail</h1>
  </div>
</div>

<% @cocktails.each do |cocktail|%>
<ul>
  <li>
    <h1 class="text-center"><%=link_to "*******  " + cocktail.name + "  *******", cocktail_path(cocktail)%></h1>
  </li>
</ul>
<%end%>


